.videoCard {
    width: 405px;
    height: 668px;
    background: white;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*  margin-bottom: 20px; */
  
  .poster {
    width: 365px;
    height: 458px;
    object-fit: cover;
  }
  
  
  /* Subtitle */
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #858585;
    margin: 0;
    text-align: center;
  }
  
  /* Title */
  .title {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 20px;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    .videoCard {
      width: 100%;
      height: auto;
      padding: 15px;
    }
  
    .title {
      font-size: 28px;
    }
  }
  