.button {
  width: 100%;
  height: 48px;
  background-color: #ed2f22;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .button {
    width: 116px;
  }
}
